@{
    ViewData["Title"] = "Rules";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1>Rules</h1>
            <p>
                The rules of the game are simple.
            </p>
            <p>
                The object is to link adjacent dots so:
            </p>
            <p>
                The value of each clue equals the number of links surrounding it
            </p>
            <p>
                Empty squares may be surrounded by any number of links
            </p>
            <p>
                When completed, the solution forms a single continuous loop with no crossings or branches
            </p>
