@using SlitherlinkWeb.Models
@using Slitherlink.SlitherlinkCore
@model SlitherLinkModel
@{
    ViewData["Title"] = "SlitherLinkGame";
}
<head>
<style>
        .flex {
            display: flex;
        }
        h1{
            color: green;
            text-align: center;   
        }
        table {
            border: 1px solid green;
            background-color: #f2f2f2;
            margin-left : 250px;
        }
        form {
            margin-top : 150px
        }
        input[type="text"],input[type="number"]{
            width: 300px;
            height:50px;
            font-size: 18px;
            margin-bottom: 25px;
            border-radius: 4px;
            padding-left: 10px;
        }    
        input[type="submit"] {
            padding: 13px 30px;
            margin: 5px 0 20px 0;
            font-size: 15px;
            color: #fff;
            background-color: #008000;
            border: none;
            border-bottom: 4px solid #00FF00;
            cursor: pointer;
        }
        .time {
            width: 300px;
            height:50px;
            font-size: 18px;
            margin-bottom: 25px;
            border-radius: 4px;
            padding-left: 10px;
        }
    </style>
</head>
<div>
    <h1> SlitherLink Game </h1>
</div>
<div class="time">
    Time : @Model.Field._date.ToString("HH:mm:ss")
</div>
@{
    if (Model.Field.isSolved())
    {
        <h2> You solved the game! </h2>
        <form action = "/SlitherLink/Ending">
            <input type = "submit" value = "End Game"/>
        </form>
    }
}

<div class="flex">
<form action = "/SlitherLink/Game/" method = "post">
    What to do : <input type = "text" name = "action" /> <br />
    Type : <input type = "text" name = "type" /> <br />
    X position : <input type = "number" name = "x" /> <br />
    Y position : <input type = "number" name = "y" /> <br />
    <input type = "submit" value = "Send"/> <br />
</form>
<table>
    @for (var row = 0 ; row < Model.Field.RowCount ; row++)
    {
        <tr>
            @for (var col = 0; col < Model.Field.ColumnCount; col++)
            {
                Tile tile = Model.Field._tiles[row, col];
                if(tile.Character == ' ')
                {
                    <td>
                        <a href = "/SlitherLink/SlitherLinkGame/PlayGame?tile=@(tile.Character)">
                            <img src = "/images/pusto-01.jpg" />    
                        </a>
                    </td>
                } else if(tile.Character == '*')
                {
                    <td>
                        <a href = "/SlitherLink/SlitherLinkGame/PlayGame?tile@(tile.Character)">
                            <img src = "/images/ziro4ka-01.jpg" />    
                            
                        </a>
                    </td>
                } else if(tile.Character == '0')
                {
                    <td>
                        <a href = "/SlitherLink/SlitherLinkGame/PlayGame?tile@(tile.Character)">
                            <img src = "/images/nula-01.jpg" />    
                        </a>
                    </td>
                } else if(tile.Character == '1')
                {
                    <td>
                        <a href = "/SlitherLink/SlitherLinkGame/PlayGame?tile@(tile.Character)">
                            <img src = "/images/jednotka-01.jpg" />    
                        </a>
                    </td>
                } else if(tile.Character == '2')
                {
                    <td>
                        <a href = "/SlitherLink/SlitherLinkGame/PlayGame?tile@(tile.Character)">
                            <img src = "/images/dvojka-01.jpg" />    
                        </a>
                    </td>
                } else if(tile.Character == '3')
                {
                    <td>
                        <a href = "/SlitherLink/SlitherLinkGame/PlayGame?tile@(tile.Character)">
                            <img src = "/images/trojka-01.jpg" />    
                        </a>
                    </td>
                } else if(tile.Character == '-')
                {
                    <td>
                        <a href = "/SlitherLink/SlitherLinkGame/PlayGame?tile@(tile.Character)">
                            <img src = "/images/Untitled-1-02.jpg" />    
                        </a>
                    </td>
                } else if(tile.Character == '|')
                {
                    <td>
                        <a href = "/SlitherLink/SlitherLinkGame/PlayGame?tile@(tile.Character)">
                            <img src = "/images/Untitled-1-01.jpg" />    
                        </a>
                    </td>
                }
            }
        </tr>
    }
</table> 
</div>